[submodule "html5lib-tests-fork"]
	path = test/data/html5lib-tests-fork
	url = https://github.com/HTMLParseErrorWG/html5lib-tests
[submodule "html5lib-tests"]
	path = test/data/html5lib-tests
	url = https://github.com/html5lib/html5lib-tests.git
