name: Node.js CI

on:
    push:
        branches-ignore:
            - 'dependabot/**'
    pull_request:

env:
    CI: true
    FORCE_COLOR: 2
    NODE_COV: lts/* # The Node.js version to run coveralls on

permissions:
    contents: read #  to fetch code (actions/checkout)

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4.2.2
              with:
                  submodules: recursive
            - name: Use Node.js ${{ matrix.node }}
              uses: actions/setup-node@v4.3.0
              with:
                  node-version: lts/*
                  cache: npm
            - run: npm ci
            - run: npm run lint

    test:
        permissions:
            contents: read #  to fetch code (actions/checkout)
            checks: write #  to create new checks (coverallsapp/github-action)

        name: Node ${{ matrix.node }}
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                node:
                    - 18
                    - 20
                    - lts/*

        steps:
            - uses: actions/checkout@v4.2.2
              with:
                  submodules: recursive
            - name: Use Node.js ${{ matrix.node }}
              uses: actions/setup-node@v4.3.0
              with:
                  node-version: ${{ matrix.node }}
                  cache: npm
            - run: npm ci
            - run: npm run build --if-present

            - name: Run unit tests
              run: npm run unit-tests
              if: matrix.node != env.NODE_COV

            - name: Run unit tests with coverage
              run: npm run unit-tests-coverage
              if: matrix.node == env.NODE_COV

            - name: Run Coveralls
              uses: coverallsapp/github-action@v2.3.6
              if: matrix.node == env.NODE_COV
              continue-on-error: true
              with:
                  github-token: '${{ secrets.GITHUB_TOKEN }}'
